@{
    ViewData["Title"] = "Display Data";
    string[] TableHeaders = new string[] {"CustomerID"
                        ,"CustomerName"
                        ,"Address 1"
                        ,"PhoneNumber"
                        ,"FaxNumber"
                        ,"Address 2"
                        ,"WebsiteURL"
                        ,"AccountOpenedDate"};
}

<div class="table" style="max-height:650px; height:650px;margin-top:50px;">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var Data in Model)
                    {
                        <tr>
                            <td>@Data.AddressID</td>
                            <td style="width:100px;">@Data.AddressLine</td>
                            <td>@Data.City</td>
                            <td>@Data.StateProvinceID</td>
                            <td>@Data.PostalCode</td>
                            <td style="width:50px;">@Data.SpatialLocation</td>
                            <td>@Data.RowID</td>
                            <td>@Data.ModifiedDate</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>